# Word temporary lock files
~$*.doc
~$*.docx

# private 
.doc
.pptx

# IntelliJ IDEA metadata
java_frontend/.idea/
java_frontend/*.iml
java_frontend/out/

# Java build output
java_frontend/bin/
java_frontend/build/classes/

# Python cache
__pycache__/
*.pyc
